/terraform/keys/*.json
/terraform/data/*
.vscode
.terraform/
dataproc/files/test/*
.idea
dataproc/JavaSparkApp/src/main/resources/*
dataproc/JavaSparkApp/target/classes/*
dataproc/JavaSparkApp/target/classes/*.csv
dataproc/JavaSparkApp/target/classes/sample
.classpath
.settings